/* Reset some default styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.877);
}

.header {
    background-color: #292b2c00;
    color: #000000;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.main {
    padding: 20px;
}

.post-title, .intro-tittle {
    margin-bottom: 10px;
    color: #292b2c;
}

.post-date, .at-me  {
    margin-bottom: 10px;
    color: #777;
}

.post-content, .intro-content {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444;
}

.read-more, .examples {
    color: #00a0d2;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    text-align: left;
    padding: 10px;
    background-color: #292b2c;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 5px #f7dddde0;
}
@media (max-width: 450px) {
    .container {
        padding: 10px;
    }

    .nav li {
        margin-right: 10px;
    }

    .post-title, .intro-tittle {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .post-date, .at-me {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .post-content, .intro-content {
        font-size: 14px;
        margin-bottom: 15px;
    }
}