/* styles.css */
body {
    margin: 0;
    font-family: "Poppins", sans-serif, Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
    transition: background-color 0.5s, color 0.5s;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
:root {
    --background: #F2EBE3;
    --text: #1e1e1e;
    --social: #FE9000;
}
[data-theme="dark"] {
    --background: #1e1e1e;
    --text: #F2EBE3;
    --social: #FE9000;
}
nav {
    margin-top: 20px;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: relative;
}
.logo {
    border: 1px solid transparent;
    border-color: var(--text);
    text-decoration: none;
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
    padding: 0.65rem 0.6rem;
    margin-right: -12px;
}
.logo:hover {
    background-color: var(--text);
    color: var(--background);
}
.nav-links a {
    text-decoration: none;
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
    padding: 0.7rem 0.7rem;
    border: 1px solid transparent;
    border-color: var(--text);
}
.nav-links a:hover {
    background-color: var(--text);
    color: var(--background);
}
.theme-toggle {
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.toggle-switch {
    width: 30px;
    height: 15px;
    background-color: #1E1E1E;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.3s;
}
.toggle-circle {
    width: 13px;
    height: 13px;
    background-color: #F2EBE3;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}
[data-theme="dark"] .toggle-switch {
    background-color: #00FFFF;
}
[data-theme="dark"] .toggle-circle {
    left: 16px;
}
.home {
    padding: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.home-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.home-text {
    flex: 1;
    min-width: 280px;
}
.home-image {
    flex: 1;
    min-width: 280px;
}
.moose-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.moose-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.current-job {
    display: flex;
    align-items: center;
    gap: 10px;
}
.current-job i {
    font-size: 1rem;
    color: #00ff00;
    text-shadow: 1px 1px 10px #04cf04;
}
.current-job p {
    margin: 0;
    font-size: 1rem;
    color: var(--text);
}
.projects {
    padding: 2rem;
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    border: 1px solid var(--text);
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}
.homelab {
    padding: 2rem;
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.homelab-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.homelab-image {
    flex: 1;
    min-width: 280px;
}
.homelab-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.homelab-text {
    flex: 2;
    min-width: 280px;
    text-align: left;
}
.contact {
    padding: 2rem;
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.scroll-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text);
    border: 1px solid var(--text);
    transition: background-color 0.3s, color 0.3s;
}
.scroll-btn:hover {
    background-color: var(--text);
    color: var(--background);
}
.project-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social-links a {
    color: var(--text);
    font-size: 2rem;
    transition: color 0.3s;
}
.social-links a:hover {
    color: var(--social);
}


/* Responsive design for small screens and mobile */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: var(--background);
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        padding: 1rem;
        display: none;
    }
    .nav-container {
        position: relative;
    }
    .theme-toggle {
        margin-left: auto;
    }
    .nav-links a {
        padding: 0.5rem 0;
    }
    .nav-links.show {
        display: flex;
    }
    .theme-toggle {
        font-size: 1.2rem;
    }
    .home-content {
        flex-direction: column;
    }
    .home-image, .home-text {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 1rem;
    }
    .projects, .contact {
        padding: 1rem;
    }
    .card {
        padding: 0.5rem;
    }
    .scroll-btn {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}
